<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="style.css">
<link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap"
    rel="stylesheet">
<!------ header--------->
<div id="fondforum">
    <div class="header"></div>

</div>
<!--------fin header------->

<div style="margin-top:800px; position: relative;
    margin: 20px auto 0px; width: 100%;box-sizing: border-box;top: 0;">

    <div class="para_bestiaire">

        <section id="conteneur_index" style="width:40%;">
            <div id="left-panel">
                <div id="monster-filters">
                    <input class="tri_filtre" placeholder="Nom du monstre...">

                    <select id="filtre" type="text" name="filter">
                        <option value="1">Alphabétique</option>
                        <option value="2">Rareté</option>
                        <option value="3">Dangerosité</option>
                        <option value="4">Localité</option>
                        <option value="5">type</option>
                    </select>

                </div>
                <div id="buttons-container">

                    <!-------button----->
                    <!-------button----->

                </div>

            </div>

        </section>
        <section style="width:50%;">
            <div class="carte_monstre">

                <div class="img_monstre"><img id="main_image" src="https://i.imgur.com/7IdM3as.jpg"></div>

                <div class="ex_monstre">
                    <div class="nom_monstre">
                        <h1 id="main_name">Elona</h1>
                        <h2 id="main_title"> “Le sublime en tout genre”</h2>
                        <div class="cara_monstre"><span id="main_rarity">épique</span> ; <span id="main_dangerosity">dangerosité</span><br> <span id="main_type">type + type +
                                type</span></div>
                    </div>
                    <div class="spoiler_monstre">

                        <div class="monstre_talent">

                            <input type="checkbox" id="spoiler_monstre"><label for="spoiler_monstre"
                                title="talent"><span class="ss"
                                    style="display: inline-block;z-index: 1;padding: 0.2vw;position: relative;overflow: hidden;  cursor: pointer;">afficher</span></label>
                            <span class="talent" style="color:var(--maincolo2);">(CARACTÉRISTIQUES)</span>

                            <div id="spoiler_talent"> <br>
                                <div id="main_stats">Force (0) / Résistance (2) / Magie (0) / Résilience (2) / Esprit (3) / Mental (2) /
                                    Agilité (5)</div>
                            </div>
                        </div>
                        <div class="monstre_talent">
                            <span>description:</span>
                            <br><br>
                            <div id="spoiler_descr">Le sublime en tout genre est le don le plus rare ; avare et volatil,
                                l’Elona attend sagement ; ses larmes, dont la beauté soigne les pires maux ; jamais
                                dévoilé, il attend l’Unique qui le dévoilera ; la nature a prévu qu’en nos faibles
                                esprits, le beau, s’il est commun, doit perdre sa valeur.Le sublime en tout genre est le
                                don le plus rare ; avare et volatil, l’Elona attend sagement ; ses larmes, dont la
                                beauté soigne les pires maux ; jamais dévoilé, il attend l’Unique qui le dévoilera ; la
                                nature a prévu qu’en nos faibles esprits, le beau, s’il est commun, doit perdre sa
                                valeur.Le sublime en tout genre est le don le plus rare ; avare et volatil, l’Elona
                                attend sagement ; ses larmes, dont la beauté soigne les pires maux ; jamais dévoilé, il
                                attend l’Unique qui le dévoilera ; la nature a prévu qu’en nos faibles esprits, le beau,
                                s’il est commun, doit perdre sa valeur.</div>


                        </div>

                    </div>
                </div>

            </div>

        </section>
    </div>


</div>

<script type="text/javascript" src="./index.js"></script>
